body
{
background-color:#d0e4fe;
margin:50px 0px; padding:0px;
text-align:center;
}
#warning
{

background-color:red;
color: white;
width: 300px;
text-align:center;
margin:0px auto;
}
#wrapper{
width:500px;
margin:0px auto;
text-align:center;
padding:15px;
background-color:#eee;
-moz-box-shadow: 4px 4px 5px #888;
-webkit-box-shadow: 4px 4px 5px #888;
box-shadow: 4px 4px 5px #888;
-moz-border-radius: 4px 4px 4px 4px;
}
form{
text-align:center;    
}
input[type="text"] {
font:bold 16px/18px verdana,arial,serif;
padding:3px;
width: 220px;
}
input[type="button"],input[type="submit"] {
width:220px;
font: bold 16px/18px verdana,arial,serif;
color: black;
cursor: hand;
cursor: pointer;
padding: 0px;
}
#back{
width: 100px;
margin-top: 15px;
}
#middle{
margin:0px auto;
padding: 5px;
-moz-box-shadow: inset 0 0 2px 2px #888;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-box-shadow: inset 0 0 5px 5px#888;
-webkit-border-radius: 4px 4px 4px 4px;
box-shadow: inset 0 0 2px 2px #888;
width: 400px;
height: 600px;
color: blue;
background-color: ; #d0e4fe;
}
#img_user{
float:left;
}
#img_users,#timestamp,#adresa{
float:left;
width: 80px;
border : 1px solid;
margin-left:20px;
}
#inside2{
 margin-top:120px;   
}
#time{
margin-top:10px;
float:left;
width: 80px;
}
#id_user{
align: center; 
width: 400px;
height: 80px;
border :1px solid #eeeeee;
-moz-border-radius: 14px 14px 4px 4px;
-webkit-border-radius: 14px 14px 4px 4px; 
background-color: #d0d0d0;
align:center;
}
#id_web{
width: 400px;
height: 100px;
border :1px solid #eeeeee;
-moz-border-radius: 14px 14px 4px 4px;
background-color: #d0d0d0;
align:center;
color:blue;
}
#id_remarci{
width: 400px;
height: 250px;
border :1px solid #eeeeee;
-moz-border-radius: 14px 14px 4px 4px;
background-color: #d0d0d0;
align:center;
color:black;
}
#ident{
color:black;   
padding:30px;
}
#ident2{
color:blue;
padding:30px;
}
#val{
width:150px;
}
